.container-destaques{

}
.container-destaques h1{
    font-family: var(--fonte-inter);
    font-size: 4rem;
    font-weight: 900;
    line-height: 51px;
    color: #E22929;
    text-align: center;
    margin: 10% 0;
}

.card-destaque{
    height: 437px;
    width: 382px;
    background: linear-gradient(90deg, #CB0C08 0%, #670604 100%);   
    border-radius: 72px;
}

.texto-missao{
    font-family: var(--fonte-montserrat);
}
.variacao2{
    text-align: end;
}
.texto-missao h1{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    line-height: 48px;
}
.texto-missao p{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 36px;
}

.container-sobre #titulo-sobre{
    color: #E22929;
    font-size: 72px;
    text-align: center;
    margin-bottom: 10%;
}

.numeros{
    text-align: center;
}
.content-logo-footer{
    padding: 0;
}
.content-sociais-footer{
    padding: 0;
    margin: 0;
}